:root {
    color: white;
    font-family: "Consolas";
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.centered_container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.centered_content {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.time_counter {
    font-size: 100px;
    margin-top: 0px;
}

.time_label {
    font-size: 30px;
}

.time_container {
    position: relative;
    max-height: 500px;
    opacity: 1;
    overflow-y: hidden;
    transition: max-height 600ms ease 0s, opacity 500ms;
    cursor: pointer;
}

#parameter_icon_container {
    opacity: 1;
    transition: opacity 200ms;
    width: max-content;
    height: max-content;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

#parameter_icon_container:hover {
    opacity: 1 !important;
}