@font-face {
    font-family: consolas2;
    src: url("consola.ttf");
}

:root {
    --text-color: #FFFFFF;
    --background-color: #000000;

    --max-settings-bar-lenght: 600px;

    color: var(--text-color);
    font-family: Consolas, consolas2;
    height: 100%;
}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    margin: 0px;
}

.centered_container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.centered_content {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.time_counter {
    font-size: 100px;
    margin-top: 0px;
}

.time_label {
    font-size: 30px;
}

.time_container {
    position: relative;
    max-height: 500px;
    opacity: 1;
    overflow-y: hidden;
    transition: max-height 600ms ease 0s, opacity 500ms;
    cursor: pointer;
}

#settings_icon_container {
    opacity: 1;
    transition: opacity 200ms;
    width: max-content;
    height: max-content;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

#settings_container:hover #settings_icon_container {
    opacity: 1 !important;
}

#settings_bar_container_lines {
    height: max-content;
}

#settings_container {
    position: absolute;
    display: flex;
    z-index: 9;
    height: 150px;
}

#settings_bar {
    display: flex;
    background-color: #2b2b2b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: left;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 0px;
    overflow-x: hidden;
    transition: width 1s ease 0s;
    z-index: 8;
}

.settings_bar_content {
    padding-left: 80px;
    padding-right: 30px;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: max-content;
    height: max-content;
    min-width: max-content;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centered_text {
    margin-top: auto;
    margin-bottom: auto;
}

.stylized_button {
    background-color: #141414;
    display: flex;
    outline: solid 1px black;
    border: 0px;
    color: white;
    font: inherit;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.stylized_button:hover {
    background-color: #424242;
}

.hidden_input {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding-left: 20px;
}

.color_label {
    padding-left: 7px;
}

.timers_table {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.title_line {
    text-align: center;
}

.day_column {
    width: 75pt;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: block;
}

.timer_input {
    width: 70px;
    outline: solid 1px var(--text-color);
    margin-bottom: 6px;
}

.remove_line_button {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: 4px;
    cursor: pointer;
}

.timers_table_container {
    display: flex;
    align-content: center;
}

.input_column_container {
    display: flex;
    justify-content: center;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input_column {
    display: block;
}

.add_timer_button img {
    cursor: pointer;
}

.new_timers_settings_container {
    margin-left: 20px;
    display: flex;
}

.outlined_button {
    outline: solid 1px var(--text-color);
}

#new_timers_save_result_label {
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.slider-container {
    background-color: grey;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    overflow: visible;
    border-radius: 10px;
    cursor: pointer;
    min-height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 2px 0px rgb(32, 32, 32);
}

.slider {
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    transform: translateX(-5px);
    transition: transform 0.4s ease, background-color 0.4s ease;
    box-shadow: 0px 0px 2px 0px rgb(92, 92, 92);
}


.slider-input:checked+.slider {
    background-color: rgb(108, 160, 255);
    box-shadow: 0px 0px 2px 0px rgb(78, 116, 185);
    transform: translateX(20px);
}

.slider-input {
    display: none;
}

.page {
    transition: opacity 500ms ease;
}

.not_custom_text_color {
    color: white;
}

.timer_line {
    margin: 0px;
    padding: 0px;
}

#remaining_time_alarm {
    line-height: 0.7;
    max-height: 70px;
    flex-direction: column;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 40px;
}

#remaining_time_alarm span {
    transition: transform 400ms ease 0s;
    position: relative;
    transform: translateY(0px);
    display: inline-flex;
    overflow-x: visible;
}

.seconds_timer_part {
    transition: opacity 1s ease, max-width 1s ease !important;
    opacity: 0;
    max-width: 0px;
}

.default_timer_digits {
    width: max-content;
}