:root {
    --text-color: #FFFFFF;
    --background-color: #000000;
    color: var(--text-color);
    font-family: "Consolas";
    height: 100%;
}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    margin: 0px;
}

.centered_container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.centered_content {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.time_counter {
    font-size: 100px;
    margin-top: 0px;
}

.time_label {
    font-size: 30px;
}

.time_container {
    position: relative;
    max-height: 500px;
    opacity: 1;
    overflow-y: hidden;
    transition: max-height 600ms ease 0s, opacity 500ms;
    cursor: pointer;
}

#settings_icon_container {
    opacity: 1;
    transition: opacity 200ms;
    width: max-content;
    height: max-content;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

#settings_conatiner {
    z-index: 9;
}

#settings_container:hover #settings_icon_container {
    opacity: 1 !important;
}

#settings_container {
    position: absolute;
    display: flex;
}

#settings_bar {
    display: flex;
    background-color: #2b2b2b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: left;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 0px;
    overflow-x: hidden;
    transition: width 1s ease 0s;
    z-index: 8;
}

#settings_bar_content {
    padding-left: 80px;
    padding-right: 30px;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: max-content;
    height: max-content;
    min-width: max-content;
}

.stylized_button {
    background-color: #141414;
    display: flex;
    outline: solid 1px black;
    border: 0px;
    color: white;
    font: inherit;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.stylized_button:hover {
    background-color: #424242;
}

.hidden_input {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding-left: 20px;
}

.color_label {
    padding-left: 7px;
}