:root {
    color: white;
    font-family: "Consolas";
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.centered_container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.centered_content {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.time_counter {
    font-size: 100px;
    margin-top: 0px;
}

.time_label {
    font-size: 30px;
}

.time_container {
    position: relative;
    transition: opacity 500ms;
    transition: top 500ms ease 0s;
    transition: bottom 500ms ease 0s;
}